.example-container {
  height: 420px;
  width: 1140px;
  overflow: auto;
}
button:focus {
  outline: 0 !important;
}
.iconsButton:focus {

  border: 0 !important;
  box-shadow: none !important;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.mat-form-field {
  font-size: 14px;
  width: 100vh;
}

td, th {
  width: 15%;

}

tr.all-row:not(.header-row):hover {
  background: rgb(220, 238, 252);
  cursor: pointer;
}

tr.all-row:not(.header-row):active {
  background: rgb(154, 186, 212);
}
.mat-spinner {
  position: fixed;
  margin-left: 50%;
  margin-right: 50%;
}
