<div class="search-div">
  <button mat-raised-button (click)="onCreateDialog()" class="text-success mr-2 ">
      <mat-icon>person_add</mat-icon>
      Dodaj osobę do zespołu
  </button>
  <button mat-raised-button (click)="onCreateAddTeamDialog()" class="text-primary ml-2 ">
    <mat-icon>person_add</mat-icon>
    Dodaj zespoł
</button>

<mat-form-field class="search-form-field" floatLabel="never">
  <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
  <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</div>


<div class="example-container mat-elevation-z8">
<table mat-table [dataSource]="teams" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let userteam"> {{userteam.id}} </td>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa zespołu</th>
    <td mat-cell *matCellDef="let userteam"> {{userteam.team}} </td>
  </ng-container>

  <ng-container matColumnDef="leaderName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lider</th>
    <td mat-cell *matCellDef="let userteam"> {{userteam.leaderName}} </td>
  </ng-container>

  <ng-container matColumnDef="teamMates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Członkowie zespołu</th>
  <td style="white-space: pre" mat-cell *matCellDef="let userteam">{{userteam.teamMates}}</td>
    </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
    <td mat-cell *matCellDef="let userteam">
        <div class="d-flex">
            <button mat-icon-button class="text-primary iconsButton"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="onCreateDeleteDialog(userteam)" class="text-danger iconsButton"><mat-icon>delete_outline</mat-icon></button>
          </div>
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; ">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
