body, html {
  height: 100%;
  margin: 0;
}
.section {
  background-image:url(images/bgStart.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.imageBackground {
  background-image:url(images/bgClouds-min.jpg);
  position: absolute;
  background-position: center 0px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity:0.85;
}
