body, html {
  height: 100%;
  margin: 0;
}
.section {
  background-image:url(images/bgStart.jpg);
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.login-button {
  justify-content: flex-end;
  display: flex;
}
.btn-login {
  width:100px;
  height: 50px;
}

.example-card {
  width: 40%;
  height: 50%;
  background-color: rgba(255, 253, 253, 0.5);
}
.mat-card-header{
  justify-content: center;
  flex:2em;

}
.mat-icon {
   transform: scale(1.5);
}
.form-container {
  justify-content: space-between;
  flex-direction: column;
  padding-top: 60px;
  display: flex;
  align-items: stretch;

}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
