<div class="main">

  <mat-tab-group class="mat-accent p-3 heavy-rain-gradient" mat-align-tabs="center">

      <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon text-primary">person</mat-icon>
            UserManagment
          </ng-template>
          <mat-card class="example-large-box mat-elevation-z7 cloudy-knoxville-gradient">

            <mat-card-content>
                <mat-progress-spinner *ngIf='loading'
                class ='example-spinner'
                style="margin:0 auto;"
                [color]="'color'"
                [mode]="'indeterminate'"
                [value]="'value'">
            </mat-progress-spinner>

              <app-user-managment *ngIf='!loading'> </app-user-managment>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon text-primary">groups</mat-icon>
              TeamManagment
            </ng-template>
            <mat-card class="example-large-box mat-elevation-z7 cloudy-knoxville-gradient">
                <mat-progress-spinner *ngIf='loading'
                [color]="'color'"
                [mode]="'indeterminate'"
                [value]="'value'">
            </mat-progress-spinner>
             <app-team-managment *ngIf='!loading'></app-team-managment>

          </mat-card>
          </mat-tab>

  </mat-tab-group>


</div>
