<div class="main">
    <mat-tab-group class="mat-accent p-3 heavy-rain-gradient" mat-align-tabs="center"  >
          <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon text-primary">person</mat-icon>
            Pracownicy
          </ng-template>
          <mat-card class="example-large-box mat-elevation-z7 cloudy-knoxville-gradient">
            <mat-card-content>
              <app-workers-managment></app-workers-managment>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon text-primary">groups</mat-icon>
              Oceny pracowników
            </ng-template>
            <mat-card class="example-large-box mat-elevation-z7 cloudy-knoxville-gradient">

            

          </mat-card>
          </mat-tab>
    </mat-tab-group>


  </div>
    
