<mat-toolbar color="primary">
<mat-toolbar-row>
    <span>Add person</span>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="warn" (click) ="onClose()"><mat-icon>close</mat-icon></button>

  </mat-toolbar-row>
</mat-toolbar>
    <form [formGroup]="myForm" (ngSubmit)="register(myForm)" class="text-center border border-light flex p-4 w-100 cloudy-knoxville-gradient" >
        <div class="inputs">
          <mat-form-field>
            <input matInput placeholder="Imię i nazwisko" name="FullName" type="text" formControlName="FullUserName">
            <mat-icon matSuffix class="mat-primary">person</mat-icon>
            <mat-error *ngIf="!myForm.controls.FullUserName.hasError('required')">
                Imię i nazwisko <strong>za krótkie</strong>
              </mat-error>
              <ng-template #minlength>
              <mat-error *ngIf="!myForm.controls.FullUserName.hasError('minlength')">
                Imię i nazwisko jest <strong>wymagane</strong>
              </mat-error>
            </ng-template>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Login systemowy" name="UserName" type="text" formControlName="UserName">
            <mat-icon matSuffix class="mat-primary">verified_user</mat-icon>
            <mat-error *ngIf="!myForm.controls.UserName.hasError('required')">
                Login jest <strong>za krótki</strong>
              </mat-error>
              <mat-error *ngIf="!myForm.controls.UserName.hasError('minlength')">
                Login jest <strong>wymagane</strong>
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Hasło" name="Password" type="password" formControlName="UserPassword">
            <mat-icon matSuffix class="mat-primary">lock</mat-icon>
            <mat-error *ngIf="!myForm.controls.UserPassword.hasError('required')">
                Hasło musi być <strong>silne</strong>
              </mat-error>
              <mat-error *ngIf="!myForm.controls.UserPassword.hasError('pattern')">
                Hasło jest <strong>wymagane</strong>
              </mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="Stanowisko" name="Position" type="text" formControlName="Position">
              <mat-icon matSuffix class="mat-primary">portrait</mat-icon>
              <mat-error *ngIf="!myForm.controls.Position.hasError('required')">
                  Stanowisko jest <strong>za krótkie</strong>
                </mat-error>
                <mat-error *ngIf="!myForm.controls.Position.hasError('minlength')">
                  Stanowisko jest <strong>wymagane</strong>
                </mat-error>
            </mat-form-field>

<mat-form-field color="text-primary">
  <mat-label>Zespół</mat-label>
  <mat-select name="team" formControlName="team">
    <mat-option *ngFor="let team of teams" [value] ="team">{{team}}</mat-option>
  </mat-select>
  <mat-icon matSuffix class="mat-primary">group</mat-icon>
  <mat-error>
      Zespół jest <strong>wymagany</strong>
    </mat-error>
</mat-form-field>

<mat-form-field color="text-primary">
    <mat-label>Rola</mat-label>
    <mat-select name="roles" formControlName="roles">
      <mat-option *ngFor="let role of roles" [value] ="role">{{role}}</mat-option>
    </mat-select>
    <mat-icon matSuffix class="mat-primary">whatshot</mat-icon>
    <mat-error>
        Rola jest <strong>wymagana</strong>
      </mat-error>
  </mat-form-field>
        </div>
          <div class="main-buttons">
            <button mat-raised-button color="warn" (click)="myForm.reset()"> <mat-icon class="mr-1">clear_all</mat-icon>Clear</button>
            <button mat-raised-button class="mat-primary text-white w-25" id="submitButton" [disabled]="!myForm.valid"  type="submit"><mat-icon class="mr-1">person_add</mat-icon>Submit</button>
          </div>

  </form>
