<mat-toolbar color="primary">
<mat-toolbar-row>
    <span>Add person</span>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="warn" (click) ="onClose()"><mat-icon>close</mat-icon></button>

  </mat-toolbar-row>
</mat-toolbar>
    <form class="text-center border border-light flex p-4 w-100 cloudy-knoxville-gradient">
        <div class="inputs">
          <mat-form-field>
            <input matInput placeholder="Full Name" type="text">
            <mat-icon matSuffix class="mat-primary">person</mat-icon>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Login" type="text">
            <mat-icon matSuffix class="mat-primary">verified_user</mat-icon>
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password">
            <mat-icon matSuffix class="mat-primary">lock</mat-icon>
          </mat-form-field>
<mat-form-field color="text-primary">
  <mat-label>Choose team</mat-label>
  <mat-select>
    <mat-option value = "Alfa">Alfa</mat-option>
    <mat-option value = "Beta">Beta</mat-option>
    <mat-option value = "Gamma">Gamma</mat-option>
    <mat-option value = "Delta">Delta</mat-option>
  </mat-select>
  <mat-icon matSuffix class="mat-primary">group</mat-icon>
</mat-form-field>
<mat-form-field color="text-primary">
    <mat-label>Choose role in system</mat-label>
    <mat-select>
      <mat-option value = "Member">Member</mat-option>
      <mat-option value = "Leader">Leader</mat-option>
      <mat-option value = "HR">HR</mat-option>
      <mat-option value = "Admin">Admin</mat-option>
    </mat-select>
    <mat-icon matSuffix class="mat-primary">whatshot</mat-icon>
  </mat-form-field>
        </div>

          <div class="main-buttons">

            <button mat-raised-button color="warn" (click)="onClose()"> <mat-icon class="mr-1">clear_all</mat-icon>Clear</button>
            <button mat-raised-button class="bg-success text-white w-25" id="submitButton"  type="submit"><mat-icon class="mr-1">person_add</mat-icon>Submit</button>
          </div>

  </form>
